#buttons
  position absolute
  margin 10px


div.button
  pointer-events all
  margin 2px
  width 30px
  height 30px
  border 2px solid wheat
  border-radius 30px
  position absolute
  cursor pointer
  text-align center
  line-height 30px
  color wheat
  transition 200ms


div.button:hover
  width 34px
  height 34px
  line-height 34px
  margin 0


#compass
  position absolute
  width 200px;
  height 200px;
  bottom 0
  margin-left -75px;
  left 50%;
  pointer-events all

#switch-globe
  left 0px

#settings
  left 50px